@import "tailwindcss";
@import 'lenis/dist/lenis.css';

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  color: #fff;
}

.section-resource {
  padding: 0 4em;
  padding-bottom: 5em;
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: flex;
  position: relative;
}

.hero-icon-link {
  color: currentColor;
  text-decoration: none;
  position: absolute;
}

.hero-icon {
  width: 10em;
}

.dots-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dots-container {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  pointer-events: none;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0em;
}

.dot {
  will-change: transform, background-color;
  transform-origin: center;
  background-color: #245e51;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  position: relative;
  transform: translate(0);
  
}